POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
DATABASE_URL=postgresql+psycopg://<user>:<password>@<host>:5432/<db_name>

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
